{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec nie standardowy</h1>
        <h2><u>Ballet</u></h2>
        
    <p align="left">
        Ballet is a type of performance dance that originated in the Italian
        Renaissance courts of the 15th century and later developed into a 
        concert dance form in France and Russia. It has since become 
        a widespread, highly technical form of dance with its own vocabulary 
        based on French terminology. It has been globally influential and has 
        defined the foundational techniques used in many other dance genres. 
        Ballet requires years of training to learn and master, and much practice
        to retain proficiency. It has been taught in ballet schools around 
        the world, which have historically used their own cultures to evolve the art.
    </p>
    </article>
{% endblock %}