{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2><u>Flamenco</u></h2>
        
    <p align="left">
        Flamenco jest jednym z tańców, od których pochodzi tango.<br/>
        Pochodzi z Andaluzji i jest nie tylko samym tańcem, lecz <br/>
        obejmuje także muzykę, śpiew czy strój. Cechą charakterystyczną <br/>
        jest fakt, że tańcem opowiada się pewną historię, zaś ruchy ciała <br/>
        i gesty wyrażają pewne stany emocjonalne tancerza lub podkreślają <br/>
        znaczenie słów i charakteru melodii, która im towarzyszy.<br/>
        Ponadto zarówno tancerze jak i śpiewacy wybijają rytm.
    </p>
    </article>
{% endblock %}