{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2><u>Habanera</u></h2>
        
    <p align="left">
        Habanera jest tańcem towarzyskim w umiarkowanym tempie.<br/>
        Jest jednym z poprzedników tanga, chociaż jej popularność <br/>
        w dzisiejszych czasach jest praktycznie znikoma.<br/>
    </p>
    </article>
{% endblock %}