{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2>Habanera</h2>
        
    <p align="left">
        Habanera jest pochodzącym z Kuby pierwowzorem tanga.<br/>
        Jego tempo jest umiarkowane, zaś metrum to 2/4.<br/>
        Charakteryzuje się silnym akcentem na pierwszej części taktu,<br/>
        na początku XX wieku był modnym tańcem towarzyskim.<br/>
        Obecnie nie cieszy się zbytnią popularnocią.
    </p>
    </article>
{% endblock %}