{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec latynoamerykański</h1>
        <h2><u>Paso Doble</u></h2>
        
    <p align="left">
        Pasodoble, paso doble to hiszpański taniec w metrum 2/4. <br/>
        Tematycznie taniec ten przypomina walki na arenie torreadorów z bykami <br/>
        tzw. corridę. Partner występuje w roli toreadora (hiszp. torero), a <br/>
        partnerka odgrywa rolę płachty. <br/>
        Sam taniec składa się z trzech części:<br/>
        <ul>
    <li>Wejście na arenę.</li>
    <li>Obrazowanie walki z bykiem oraz zabicie go</li>
    <li>Para po zakończeniu walki</li>
    </ul>
    </p>
    <br/>
    
    <p align="left">
    <b><u>Tempo : </b></u>  58 - 62 takty na minutę <br/>
    <b><u>Takt : </b></u>   2/4    <br/>
    Każdemu uderzeniu w takcie odpowiada jeden krok. Figury podstawowe <br/>
    trwają dwa lub cztery takty.<br/>
    <b><u>Rozliczenie rytmiczne : </b></u>    1 , 2 , 1, 2  <br/>
    <b><u>Ruch : </b></u> Kroki do przodu stawiamy od pięty , kroki do tyłu <br/>
    od palców a kroki boczne – na podeszwach. Niektóre figury rozpoczynamy <br/>
    mocnym krokiem w miejscu – to tzw. Appel
    </p>
    
    </article>
{% endblock %}