{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2><u>Quickstep</u></h2>
        
    <p align="left">
        Cechy wyróżniające quickstep to bardzo szybkie tempo <br/>
        (jest najszybszym tańcem standardowym), radość, żywa<br/>
        muzyka i zaskakujące kroki – podskoki, obroty, wykopy.<br/>
        Tańczący poruszają się bardzo płynnie, posuwiście, są <br/>
        cały czas w ruchu.
    </p>
    <br/>
    
    <p align="left">
    <b><u>Tempo : </b></u>  50 taktów na minutę <br/>
    <b><u>Takt : </b></u>   4/4    <br/>
    <b><u>Ruch : </b></u>  Obowiązkowe w quickstepie są podskoki,<br/>
rozliczane jako quick-and-quick, dzięki którym tańcząca para wygląda<br/>
jakby była ponad powierzchnią parkietu.
    </p>
    
    </article>
{% endblock %}