{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec latynoamerykański</h1>
        <h2><u>Rumba</u></h2>
        
    <p align="left">
        Rumba nazywana jest tańcem miłości lub tańcem namiętności. <br />
        Wchodzi  w skład dziesięciu tańców towarzyskich. Partnerka w rumbie <br/>
        kusi i wymyka się, partner zaś prezentuje swą wybrankę i pozornie <br /> 
        podejmuje jej grę, ale tak naprawdę to on prowadzi. Rumbę na <br /> 
        turniejach tańca tańczy się jako trzecią z pięciu tańców <br /> 
        latynoamerykańskich.
    </p>
    <br/>
    
    <p align="left">
    <b><u>Tempo :</b></u> 24 - 26 taktów na minutę <br/>
    <b><u>Takt :</b></u>   4/4    <br/>
     Cztery uderzenia w takcie, którym odpowiadają cztery ruchy, ale <br />
     tylko trzy kroki. Podczas pierwszego uderzenia nie wykonujemy <br/>
     kroku lecz silnie obciążamy nogę, na której stoimy, wysuwając <br />
     biodro do boku.<br/>
    <b><u>Rozliczenie rytmiczne :</b></u> 1 , 2 , 3 , 4  <br/>
    <b><u>Ruch :</b></u> Wszystkie kroki stawiamy na podeszwach.
    </p>
    
    </article>
{% endblock %}