{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Swing dance</h1>     
    <p align="left">
       Swing dance is a lively style of social dancing in which
       a dancer often lifts, spins and flips his or her partner. 
       Considered both hip and cool, swing dancing is a favorite 
       among social dancers of all ages.
    </p>
    </article>
{% endblock %}