{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2>Tango</h2>
        
    <p align="left">
        Tango to współczesny taniec towarzyski. Pierwowzorem tanga<br/>
        były hiszpańskie tańce habanera i flamenco, przeszczepione<br/>
        do Ameryki Południowej. Prymitywna forma tanga pojawiła się<br/>
        w Argentynie już w I połowie XVIII wieku. Tango argentyńskie<br/>
        przywędrowało do Europy (do Paryża) około roku 1910, gdzie<br/>
        wkrótce zyskało olbrzymią popularność jako taniec towarzyski.
    </p>
    <br/>
    
    <p align="left">
    <b><u>Tempo : </b></u>  31 - 33 takty na minutę
    <b><u>Takt : </b></u>   2/4 (akcentowane pierwsze i trzecie)  
    <b><u>Rozliczenie rytmiczne : </b></u>    Rytm tanga liczony jest następująco: <br />
                                              wolny, wolny, szybki, szybki, wolny, szybki, szybki, wolny.<br/>
    <b><u>Charakter tańca  : </b></u>  Trzymanie w tangu jest mocne i ma agresywny wygląd, <br />
                                       ponieważ taniec ma przypominać kłótnię małżonków. Ma być dramatyczne i  gwałtowne, <br />
                                       pełne zmian kierunków i obrotów oraz szybkich ruchów.
    </p>
    
    </article>
{% endblock %}