{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taniec brzucha</h1>

    <pre>
      Taniec orientalny (taniec arabski, raqs sharqi), taniec brzucha – sztuka tańca pochodząca z terenów Bliskiego Wschodu i Afryki Północnej. Taniec ten wykonywany jest głównie (ale nie wyłącznie) przez kobiety.

    </pre>
{% endblock %}