{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Tap</h1>     
    <p align="left">
        Tap is an exciting form of dance in which dancers wear special shoes
        equipped with metal taps. Tap dancers use their feet like drums
        to create rhythmic patterns and timely beats. The term "tap dancing"
        is derived from the tapping sound produced when the small metal plates
        on the dancer's shoes touch a hard floor or surface.
    </p>
    </article>
{% endblock %}