{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Taniec standardowy</h1>
        <h2><u>Walc angielski</u></h2>
        
    <p align="left">
        Walc angielski należy do tańców standardowych. Przypomina ruch <br/>
        łodzi zmagającej się ze wznoszącymi się i opadającymi falami. <br/>
        Jak wskazuje nazwa powstał w Anglii. Słynie on z romantycznego <br/>
        charakteru i wolnego taktu. Jest bardzo popularnym tańcem, opartym <br/>
        na naturalnych ruchach, upodobnionych do chodu.
    </p>
    <br/>
    
    <p align="left">
    <b><u>Tempo : </b></u>  29 - 30 taktów na minutę <br/>
    <b><u>Takt : </b></u>   3/4    <br/>
    <b><u>Rozliczenie rytmiczne : </b></u>    1 , 2 , 3  <br/>
    <b><u>Ruch : </b></u>  Budowa figur Walca Angielskiego opiera <br/>
    się na Kroku Zmiennym (Change). Kroki do przodu stawiamy  od pięty, <br/>
    kroki do tyłu od palców a kroki boczne na podeszwach.
    </p>
    
    </article>
{% endblock %}